.footer {
    background-color: #131313;
    padding: 30px;
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.logo {
    width: 65px;
    height: auto;
}

.links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: #4c96e4;
}

h4 {
    font-weight: 100;
}

.nome {
    width: 190px;
    
}


@media screen and (max-width: 767px) {
    .logo {
        width: 35px;
    }

    h4 {
        font-size: 8px;
    }

    .nome {
        width: 115px;
    }

    .links {
        font-size: 10px;
        gap: 8px;
        display: flex;
        flex-direction: column;
        left: 34%;
    }

    .direitos {
        max-width: 130px;
    }


}