.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    padding-bottom: 0;
    margin-bottom: 25px;
    color: magenta;
    border-bottom: 0.1px solid #5e276e;
}
.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    color: magenta;
}

.navbar li {
    margin: 10px;
}

.navbar a {
    color: aliceblue !important;
}

.navbar a:hover {
    color: rgb(189, 35, 163) !important;
}


@media only screen and (max-width: 600px) {
    
}
  
  
 
  @media only screen and (min-width: 400px) and (max-width: 520px) {
    .navbar {
        padding: 1em;
        font-size: 10px;
        margin: auto;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;
    }
    .navbar a{
        font-size: 10px;
        margin: auto;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .navbar ul{
        font-size: 10px;
        margin: auto;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .icons a svg {
        font-size: 20px;
    }
    


}