.projects {
    background-image: radial-gradient(circle at 50% -14.95%, #161414 0, #120e13 50%, #03000b 100%);
    padding: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: auto;
    min-height: 90vw;
    margin-top: 5vw;
    position: relative;  
}

.projectsName {
    position: absolute;
    right: 7%;
    margin-top: 7vw;
    width: 22vw;
}

.projectsVaretas {
    position: absolute;
    left: 3%;
    margin-top: 4vw;
    width: 6vw;
    height: 98%;
}


@media screen and (max-width: 767px) {

    .projectsName {
        width: 130px;

    }

    .projectsVaretas {
        display: none;
    }

    .projects {
        padding: 0;
        width: auto;
        
    }

}