.skill {
    background-image: radial-gradient(circle at 50% -14.95%, #211125 0, #120016 50%, #000000 100%);
    border-radius: 15px;
    margin: 75px;
    padding: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0 8px 8px rgb(5, 5, 5);
    border-top: 0.5px solid white;
}


.images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill img.javascript {
    height: 130px;
    margin: 35px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    box-shadow: 0 8px 8px rgb(5, 5, 5);
    transition-duration: 1s;
}

.skill img.html {
    height: 115px;
    margin: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    box-shadow: 0 8px 8px rgb(5, 5, 5);
    transition-duration: 1s;

}

.skill img.css {
    height: 155px;
    margin: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    box-shadow: 0 8px 8px rgb(5, 5, 5);
    transition-duration: 1s;

}

.skill img.react {
    height: 130px;
    margin: 35px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    box-shadow: 0 8px 8px rgb(5, 5, 5);
    transition-duration: 1s;
}

.skill img.typescript {
    height: 115px;
    margin: 55px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    box-shadow: 0 8px 8px rgb(5, 5, 5);
    transition-duration: 1s;
}

.skill img:hover {
    transform: translateY(-7px);
    transition-duration: 1s;
    height: 200px;
}

.skill h1 {
    font-size: 45px;
}

.skill p {
    font-size: 20px;
}


@media only screen and (min-width: 400px) and (max-width: 520px) {
    .skill {
        background-image: radial-gradient(circle at 50% -14.95%, #211125 0, #120016 50%, #000000 100%);
        border-radius: 15px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        box-shadow: 0 8px 8px rgb(5, 5, 5);
        height: 80%;
        margin: auto;
        margin-top: 60px;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .images {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 15px;
    }
    
    .skill img.javascript,
    .skill img.html,
    .skill img.css,
    .skill img.react,
    .skill img.typescript {
        height: 70px;
        margin: 10px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        cursor: pointer;
        box-shadow: 0 4px 4px rgba(5, 5, 5, 0.3);
        transition-duration: 0.3s;
    }
    
    .skill img:hover {
        transform: translateY(-5px);
    }
    
    .skill h1 {
        font-size: 30px;
        text-align: center;
        margin-top: 10px;
    }
    
    .skill p {
        font-size: 16px;
        text-align: center;
    }
}    