.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 11vw;
    
}

.reverse {
    flex-direction: row-reverse;
}



.conapi img{
    width: 650px;
    margin-top: 20vw;
    border-radius: 5px;
    border: 0.1px solid rgba(0, 0, 0, 0.745);
}

.conapi section {
    width: 600px;
    margin-top: 22vw;
    height: 300px;
}



.meuportifolio img {
    width: 650px;
    margin-top: 7vw;
    margin-left: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 400px rgb(35, 1, 46);
}


.meuportifolio section {
    width: 430px;
    margin-top: 9vw;
    height: 300px;
    margin-left: 170px;
    
}



.novoportifolio img{
    width: 650px;
    margin-top: 7vw;
    margin-right: 100px;
    border-radius: 5px;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 450px rgba(1, 18, 74, 0.619);
}

.novoportifolio section {
    width: 430px;
    margin-top: 9vw;
    height: 300px;
    margin-right: 100px;
}

.landingpage img {
    width: 650px;
    margin-top: 7vw;
    margin-left: 120px;
    border-radius: 5px;
}

.landingpage section {
    width: 460px;
    margin-top: 9vw;
    height: 300px;
    margin-left: 100px;
}

@media screen and (max-width: 767px) {
    
    * {
        box-sizing: border-box;
    }

    .card {
        display: flex;
        flex-direction: column;
        margin-top: 5vw;
        width: 320px ;
        height: auto;
        margin-right: 8vw;
        
        
    }
    
    .conapi img{
        width: 320px ;
        height: auto;
        margin-top: 30vw;
        
    }    

    .conapi section {
        width: 250px;
        margin-top: 7vw;
        font-size: 15px;
    }
    
    .meuportifolio img {
        width: 310px ;
        height: auto;
        margin: 0 !important;        

    }

    
    .meuportifolio section {
        width: 250px;
        margin-top: 7vw;
        margin-right: 39vw;
        font-size: 15px;
    }
    
    .novoportifolio img{
        width: 320px ;
        height: auto;
        margin-right: 0;


    }
    
    .novoportifolio section {
        width: 250px;
        margin-top: 7vw;
        margin-left: 25vw;
        font-size: 15px;

    }
    
    .landingpage img {
        width: 320px ;
        height: auto;
        margin: 0 !important; 


    }
    
    .landingpage section {
        width: 250px;
        margin-top: 7vw;
        margin-right: 26vw;
        font-size: 15px;

    }

}

